@tailwind base;
@tailwind components;
@tailwind utilities;


.bg {

  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -3;
}

.bg:before {
  content: "";
  width: 100%;
  height: 100%;
  background: #000;
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  opacity: 0.3;
}

@keyframes sf-fly-by-1 {
  from {
    transform: translateZ(-600px);
    opacity: 0.5;
  }
  to {
    transform: translateZ(0);
    opacity: 0.5;
  }
}

@keyframes sf-fly-by-2 {
  from {
    transform: translateZ(-1200px);
    opacity: 0.5;
  }
  to {
    transform: translateZ(-600px);
    opacity: 0.5;
  }
}

@keyframes sf-fly-by-3 {
  from {
    transform: translateZ(-1800px);
    opacity: 0.5;
  }
  to {
    transform: translateZ(-1200px);
    opacity: 0.5;
  }
}

.star-field {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  perspective: 600px;
  -webkit-perspective: 600px;
  z-index: -1;
}

.star-field .layer {
  box-shadow: -411px -476px #cccccc, 777px -407px #d4d4d4, -387px -477px #fcfcfc, -91px -235px #d4d4d4, 491px -460px #f7f7f7, 892px -128px #f7f7f7, 758px -277px #ededed, 596px 378px #cccccc, 647px 423px whitesmoke, 183px 389px #c7c7c7,
  524px -237px #f0f0f0, 679px -535px #e3e3e3, 158px 399px #ededed, 157px 249px #ededed, 81px -450px #ebebeb, 719px -360px #c2c2c2, -499px 473px #e8e8e8, -158px -349px #d4d4d4, 870px -134px #cfcfcf, 446px 404px #c2c2c2,
  440px 490px #d4d4d4, 414px 507px #e6e6e6, -12px 246px #fcfcfc, -384px 369px #e3e3e3, 641px -413px #fcfcfc, 822px 516px #dbdbdb, 449px 132px #c2c2c2, 727px 146px #f7f7f7, -315px -488px #e6e6e6, 952px -70px #e3e3e3,
  -869px -29px #dbdbdb, 502px 80px #dedede, 764px 342px #e0e0e0, -150px -380px #dbdbdb, 654px -426px #e3e3e3, -325px -263px #c2c2c2, 755px -447px #c7c7c7, 729px -177px #c2c2c2, -682px -391px #e6e6e6, 554px -176px #ededed,
  -85px -428px #d9d9d9, 714px 55px #e8e8e8, 359px -285px #cfcfcf, -362px -508px #dedede, 468px -265px #fcfcfc, 74px -500px #c7c7c7, -514px 383px #dbdbdb, 730px -92px #cfcfcf, -112px 287px #c9c9c9, -853px 79px #d6d6d6,
  828px 475px #d6d6d6, -681px 13px #fafafa, -176px 209px #f0f0f0, 758px 457px #fafafa, -383px -454px #ededed, 813px 179px #d1d1d1, 608px 98px whitesmoke, -860px -65px #c4c4c4, -572px 272px #f7f7f7, 459px 533px #fcfcfc,
  624px -481px #e6e6e6, 790px 477px #dedede, 731px -403px #ededed, 70px -534px #cccccc, -23px 510px #cfcfcf, -652px -237px whitesmoke, -690px 367px #d1d1d1, 810px 536px #d1d1d1, 774px 293px #c9c9c9, -362px 97px #c2c2c2,
  563px 47px #dedede, 313px 475px #e0e0e0, 839px -491px #e3e3e3, -217px 377px #d4d4d4, -581px 239px #c2c2c2, -857px 72px #cccccc, -23px 340px #dedede, -837px 246px white, 170px -502px #cfcfcf, 822px -443px #e0e0e0, 795px 497px #e0e0e0,
  -814px -337px #cfcfcf, 206px -339px #f2f2f2, -779px 108px #e6e6e6, 808px 2px #d4d4d4, 665px 41px #d4d4d4, -564px 64px #cccccc, -380px 74px #cfcfcf, -369px -60px #f7f7f7, 47px -495px #e3e3e3, -383px 368px #f7f7f7, 419px 288px #d1d1d1,
  -598px -50px #c2c2c2, -833px 187px #c4c4c4, 378px 325px whitesmoke, -703px 375px #d6d6d6, 392px 520px #d9d9d9, -492px -60px #c4c4c4, 759px 288px #ebebeb, 98px -412px #c4c4c4, -911px -277px #c9c9c9;
  transform-style: preserve-3d;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 4px;
  width: 4px;
  border-radius: 2px;
}

.star-field .layer:nth-child(1) {
  animation: sf-fly-by-1 5s linear infinite;
}

.star-field .layer:nth-child(2) {
  animation: sf-fly-by-2 5s linear infinite;
}

.star-field .layer:nth-child(3) {
  animation: sf-fly-by-3 5s linear infinite;
}

body {
  background-color: rgb(24 24 27 / 1);
  color: #fff;
  font-family: system-ui;
  font-size: 14px;
  line-height: 20px;
  margin: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

header {

  padding: 20px 0;

  .brands {
    display: flex;
    justify-content: center;

    .logo {
      font-size: 20px;
      color: #fff;

      span {
        color: rgba(52, 211, 153, 1);
      }
    }
  }
}

h1 {
  @media (max-width: 1200px) {
    font-size: 18px;
  }
  font-size: 26px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  margin: 10px auto 25px;

}

.rating-casino {
  .item {
    @media (max-width: 1200px) {
      display: flex;
      margin-bottom: 20px;
      flex-direction: column;
      flex-wrap: wrap;
      align-content: center;
      justify-content: center;
      align-items: center;
    }

    display: flex;
    margin-bottom: 20px;

    .info {
      .brands {
        display: flex;

        img {
          max-width: 100px;
          margin-right: 15px;
        }

        .name {
          font-size: 18px;

          .ratings i {
            width: 20px;
            height: 20px;
            font-style: normal;

            display: inline-block;
            margin: 0 0px;
            text-align: center;
          }

          span {
            margin-bottom: 8px;
            display: block;
            font-size: 18px;
          }
        }

        .bonus {
          margin-top: 10px;

          span {
            display: block;
          }

        }
      }

      .params {
        margin-top: 10px;

        span {
          background: #f0f0f0;
          padding: 5px;
          border-radius: 5px;
          margin-right: 5px;
        }
      }
    }

    .btn-box {
      margin-left: auto;

      .btn {
        margin-right: 20px;
        @media (max-width: 1200px) {
          margin: 10px 20px;
        }
      }
    }
  }
}

main {
  article {
    padding: 40px 0;

    .page-content {
      background: #2a1b2c;
      padding: 30px;
      border-radius: 5px;

      p {
        font-size: 15px;
        line-height: 1.5;
        margin: 0 0 15px;
      }

      h2 {
        font-size: 24px;
        margin-top: 30px;
      }

      ul,
      ol {
        list-style-position: inside;
        margin: 15px 0;
        padding-left: 20px;

        li {
          padding-left: 20px;
          margin: 0 0 15px;
        }
      }
    }
  }
}

.w-10.h-10.transition-transform.duration-500:hover {
  cursor: pointer;
}

.rating-casino {
  .item {
    background-color: rgb(24 24 27 / 1);
    padding: 20px 0px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(52, 211, 153, 0.1);
    transition: box-shadow 0.3s ease;
    transition: box-shadow 0.3s ease;
    &:nth-of-type(1) {
      animation: pulse-shadow 1.5s infinite ease-in-out;
      @keyframes pulse-shadow {
        0% {
          box-shadow: 0 4px 10px rgba(52, 211, 153, 0.1);
        }
        50% {
          box-shadow: 0 6px 16px rgba(52, 211, 153, 0.4);
        }
        100% {
          box-shadow: 0 4px 10px rgba(52, 211, 153, 0.1);
        }
      }
    }
    &:hover {
      box-shadow: 0 6px 16px rgba(52, 211, 153, 0.4);
    }

    .info {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      @media (min-width: 1200px) {
        min-width: 235px;
      }
      @media (min-width: 640px) {
        flex-direction: row;
        align-items: center;
      }
    }

    .brands {
      img {
        border-radius: 7px;
        background: white;
        width: 100px;
        height: 50px;
        object-fit: cover;
        @media (min-width: 640px) {
          width: 100px;
          height: 50px;
          margin: auto 20px;
        }
      }
    }

    .bonus {
      @media (max-width: 1200px) {
        font-size: 14px;
        margin: 20px auto;
        padding: 0px 20px;
        color: #d4d4d4;
        text-align: center;
        display: block;
      }
      @media (min-width: 1200px) {
        min-width: 350px;
      }
      font-size: 14px;
      margin-top: auto;
      padding: 0px 20px;
      color: #d4d4d4;
      display: block;

      span {
        font-size: 16px;

        padding: 0px 20px;
        margin: 5px auto 5px auto;
        color: #e5e7eb;
        vertical-align: top;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column-reverse;
        justify-content: flex-end;
        align-content: center;
        align-items: center;
      }
    }

    .params {
      @media (max-width: 1200px) {
        margin: 0px auto 20px;
      }
      @media (min-width: 1200px) {
        min-width: 310px;
      }
      margin-top: 1rem;

      span {
        font-size: 16px;
        margin: 0.25rem 0.75rem;
        border-radius: 0;
        padding-bottom: 1px;
        border-bottom: 1px dotted rgb(52, 211, 153);

        &.new {
          background-color: #28a745;
        }
      }
    }

    .btn-box {
      @media (max-width: 1200px) {
        margin: 20px auto !important;
      }
      margin-top: 1.25rem;

      a {
        padding: 0.5rem 1.25rem;
        border-radius: 0.375rem;
        transition: transform 0.2s ease;

        &.btn-white {
          background-color: rgba(52, 211, 153, 0.1);

          color: rgb(52 211 153 / 1);
          box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
          border: 1px solid rgb(52 211 153 / 1);

          &:hover {
            transform: scale(1.05);
          }
        }

        &.btn-transparent {
          border: 1px solid #ccc;
          background-color: transparent;
          color: #ccc;

          &:hover {
            background-color: #ccc;
            color: #333;
          }
        }
      }
    }
  }
}

// Footer styles
footer {
  text-align: center;
  margin:20px auto 20px;
  .copy {

    span {
      display: block;
      color: #fff;
      font-size: 14px;
    }
  }
}

.rotate-animation {
  transform: rotate(360deg);
  transition: transform 0.5s ease-in-out;
}

.fixed.bottom-5 {
  position: fixed;
  right: 30px;
  bottom: 30px;

  button:nth-of-type(1) {
    width: 36px;
    height: 36px;
    font-size: 27px;
    padding-bottom: 2px;
    border: 1px solid white;
    border-radius: 50%;
    display: flex;
    margin-bottom: 15px;
    justify-content: center;
    align-items: center;
  }
}

.page-content {
  background-color: rgb(24 24 27 / 1);
  padding: 30px;
  border-radius: 10px;
  color: #e0e0e0;
  box-shadow: 0 4px 10px rgba(52, 211, 153, 0.1);
  transition: box-shadow 0.3s ease;
  line-height: 1.6;
  font-family: system-ui;

  margin: 20px auto; // отступ сверху и снизу
  text-align: left; // выравнивание по левому краю
  &:hover {
    box-shadow: 0 6px 16px rgba(52, 211, 153, 0.4);
  }

  h2 {
    font-size: 18px;
    font-weight: 600;
    color: #34d399;
    margin-bottom: 15px;
    text-transform: uppercase;
    text-align: left;
  }

  p {
    font-size: 16px; // уменьшенный шрифт
    color: #d4d4d4;
    margin-bottom: 18px;
    letter-spacing: 0.3px;
    line-height: 1.7; // для читабельности
  }

  ul, ol {
    margin: 20px 0;
    padding-left: 25px;
    list-style: none;

    li {
      position: relative;
      padding-left: 30px;
      margin-bottom: 10px;
      font-size: 16px;
      color: #d4d4d4;

      &::before {
        content: "●";
        position: absolute;
        left: 0;
        top: -2px;
        color: #34d399;
        font-size: 17px;
      }
    }
  }

  a {
    color: #34d399;
    text-decoration: underline;
    transition: color 0.3s ease;

    &:hover {
      color: #68d99e;
    }
  }
}

.modal-box {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.modal {
  @media (max-width: 1200px) {
    max-width: 375px;
  }

  background-color: rgb(24, 24, 27);
  border-radius: 10px;
  color: #e0e0e0;
  box-shadow: 0 4px 10px rgba(52, 211, 153, 0.1);
  transition: box-shadow 0.3s ease;
  line-height: 1.6;
  font-family: "Mariupol", sans-serif;


  background-color: rgb(24, 24, 27);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  max-width: 500px;
  width: 100%;
}

.modal .name {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 15px;
}

.modal .text {
  font-size: 16px;
  margin-bottom: 20px;
}

.modal .btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: rgba(52, 211, 153, 0.1);
  color: rgb(52, 211, 153);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border: 1px solid rgb(52, 211, 153);
  border-radius: 5px;
  cursor: pointer;
}
